<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jd.jrapp.bm.message" >
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <service android:name="com.jd.jrapp.bm.message.service.JDMqttService" />
        <activity android:name=".controller.IMMessageController"
            >
        </activity>
    </application>
</manifest>
